<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Policy Debate</title>
    <link rel="stylesheet" href="/universal.css">
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/x-icon" href="/logo.svg">
</head>
<body>
    <%- include('partials/header') %>
    
    <main class="page-container">
        
        <h1 id="pageTitle">Welcome, <%-user.name.split(' ')[0]%>!</h1>
        
        <div id="breaker"></div>

        <div id="contentWrapper">

            <div id="leftContent">
    
                <div id="feeBlock">
                    <p id="outstandingFees">$<%=outstandingFees%></p>
                    <p id="outstandingFeeTitle">Outstanding fees</p>
                    <% if (hasOutstandingFees) { %>

                        <a href="/seeMyFees">See all</a>

                    <% } %>
                </div>
                
                <div id="recentLectures">

                    <p id="recentLecturesTitle">Recent lectures</p>

                    <div id="lectureInsert">
                        <% if (lectures && lectures.length > 0) { %>
                            <% lectures.slice(0, 3).forEach(function(lecture) { %>
                                <a href="<%=lecture.url %>" class="recentLecture">
                                    <img src="/slides.png" alt="Google slides icon" class="slideImage">
                                    <div class="recentLectureRightContent">
                                        <p class="recentLectureLabel"><%=lecture.title%></p>
                                        <p class="recentLectureDate">

                                            <% 
                                            const date = new Date(lecture.datePosted);
                                            const formatted = (date.getMonth() + 1).toString().padStart(2, '0') + '/' + 
                                                            date.getDate().toString().padStart(2, '0') + '/' + 
                                                            date.getFullYear();
                                            %>
                                            <%= formatted %>

                                        </p>
                                    </div>
                                </a>
                            <% }) %>
                        <% } else { %>
                            <p id="noLectures">No recent lectures</p>
                        <% } %>
                    </div>
                </div>
            </div>
    
            <div id="rightContent">
    
                <div id="tournamentSignup">
                    
                    <p id="tournamentSignupTitle">Tournament registration</p>
    
                    <div id="tournamentInsert">
    
                        <% if (tournaments && tournaments.length > 0) { %>
                            <% tournaments.slice(0, 3).forEach(function(tournament) { %>
                                <a href="/tournament/<%= tournament._id %>" class="tournament">
                                    <p class="tournamentName"><%= tournament.name %></p>
                                    <button class="signUpForTournament">Register</button>
                                </a>
                            <% }) %>
                        <% } else { %>
                            <p id="noUpcoming">No upcoming tournaments</p>
                        <% } %>
    
                    </div>
    
                </div>
    
                <p id="bottomLinksTitle">Other links</p>

                <div id="bottomLinks">

                   <% if (user.role && user.role.officer) { %>
                        
                        <div class="rightContentBlock">
                            <p class="rightContentTitle">Finances</p>
                            <a href='/finances' aria-label="Finances" class="visitContent">Go</a>
                        </div>
        
                        <div class="rightContentBlock">
                            <p class="rightContentTitle">Tournament portal</p>
                            <a href='/tournamentPortal' class="visitContent">Go</a>
                        </div>

                        <div class="rightContentBlock">
                            <p class="rightContentTitle">Post lecture</p>
                            <a href='/postLecture' class="visitContent">Go</a>
                        </div>

                        <div class="rightContentBlock">
                            <p class="rightContentTitle">Team roster</p>
                            <a href='/roster' class="visitContent">Go</a>
                        </div>
            
                        <div class="rightContentBlock">
                            <p class="rightContentTitle">Judge registry</p>
                            <a href='/judgeRegistry' class="visitContent">Go</a>
                        </div>
                    
                    <% } %>

                    <div class="rightContentBlock">
                        <p class="rightContentTitle">Dropbox</p>
                        <a href='https://www.dropbox.com/home/2025-26%20TJPD' class="visitContent">Go</a>
                    </div>
        
                    <div class="rightContentBlock">
                        <p class="rightContentTitle">Constitution</p>
                        <a href='/constitution' class="visitContent">Go</a>
                    </div>
        
                </div>
    
            </div>

        </div>

    </main>
    
    <%- include('partials/footer') %>

    <script src="/basic.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            <% if (user) { %>
                console.log("User exists");
                console.log({
                    name: "<%= user.name %>",
                    username: "<%= user.username %>",
                    profilePic: "<%= user.profilePic %>"
                });

                document.getElementsByClassName('defaultAuth')[0].style.setProperty('display', 'none', 'important');
                document.getElementsByClassName('topProfileLink')[0].style.setProperty('display', 'flex', 'important');
                document.getElementsByClassName('topName')[0].innerHTML = '<%= user.name.split(' ')[0] %>';
                document.getElementsByClassName('userImageInsert')[0].src = '<%= user.profilePic %>';

                console.log(document.querySelector('header').classList);

                console.log(document.querySelectorAll('header'));

                if (document.querySelector('header').classList.contains('header-light')) {

                    document.getElementsByClassName('topName')[0].style.setProperty('color', 'rgb(51, 51, 51)', 'important');

                }

            <% } else { %>
                console.log("User doesn't exist");
            <% } %>

        });

    </script>
</body>
</html>