<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jefferson Policy Debate</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/universal.css">
    <link rel="icon" type="image/x-icon" href="/logo.svg">
</head>
<body>
   
    <%- include('partials/header') %>

    <section class="hero" data-header-theme="dark">
        <div id="content">
            <h1 id="mainTitle">JEFFERSON POLICY</h1>
            <p class="hero-description">Official website of the Policy Debate team at Thomas Jefferson High School for Science and Technology, one of the top high schools in the United States.</p>
            <div class="hero-buttons">
                <a href="/register" class="btn-primary">Join</a>
                <a href="#sectionOne" class="btn-secondary">About us</a>
            </div>
        </div>
    </section>

    <section class="section section-light" id="sectionOne" data-header-theme="light">
        <h2>Our team</h2>
        <p class="section-content">Policy Debate has a long history at TJHSST.  At times, we've been one of the best teams in the nation.  Today, we're over thirty debaters strong and continuing our strong record of success.  At TJ, we're raising a new generation of public speakers and debaters prepared for success in the real world.</p>
        <p class="section-content2">We compete on the local, state, and national circuits and meet every Wednesday B and Friday A at Thomas Jefferson.  Our debaters have gone on to debate at top colleges around the nation and maintain a strong record on varsity teams at the collegiate level.  Some of our debaters have won TOC bids, won at VHSL's, and placed in NCFL.</p>
        <div class="section-buttons2">
            <a href="/officers" class="btn-primary2">View current officers</a>
        </div>
    </section>

    <section class="section" data-header-theme="light">
        <h2>Quick links</h2>
        <div class="features">
            <a class="feature-card" href="/constitution" aria-label="Constitution">
                <img src="/constitution.svg" alt="Constitution" class="bottomImage" id="constitutionImage">
                <h3>Constitution</h3>
            </a>
            <a class="feature-card" href="/officers" aria-label="Officers">
                <img src="/group.svg" alt="Officers" class="bottomImage" id="constitutionImage">
                <h3>Officers</h3>
            </a>
            <a class="feature-card" href='/contact' aria-label="Contact">
                <img src="/contact.svg" alt="Contact" class="bottomImage" id="constitutionImage">
                <h3>Contact</h3>
            </a>
        </div>
    </section>

    <%- include('partials/footer') %>


    <script src="/script.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            <% if (user) { %>
                console.log("User exists");
                console.log({
                    name: "<%= user.name %>",
                    username: "<%= user.username %>",
                    profilePic: "<%= user.profilePic %>"
                });

                document.getElementsByClassName('defaultAuth')[0].style.setProperty('display', 'none', 'important');
                document.getElementsByClassName('topProfileLink')[0].style.setProperty('display', 'flex', 'important');
                document.getElementsByClassName('topName')[0].innerHTML = '<%= user.name.split(' ')[0] %>';
                document.getElementsByClassName('userImageInsert')[0].src = '<%= user.profilePic %>';

                console.log(document.querySelector('header').classList);

                console.log(document.querySelectorAll('header'));

                if (document.querySelector('header').classList.contains('header-light')) {

                    console.log("Includes");
                    document.getElementsByClassName('topName')[0].style.setProperty('color', 'rgb(51, 51, 51)', 'important');

                } else {
                    console.log("Doesn't");
                }

            <% } else { %>
                console.log("User doesn't exist");
            <% } %>

        });

    </script>

</body>
</html>