<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Policy Debate</title>
    <link rel="stylesheet" href="/universal.css">
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/roster.css">
    <link rel="icon" type="image/x-icon" href="/logo.svg">
</head>
<body>
    <%- include('partials/header') %>
    
    <main class="page-container">
        <h1 id="pageTitle">Team roster</h1>
        <div id="rosterInsert">
            <% let hasMembers = false; %>
            <% [12, 11, 10, 9].forEach(function(grade) { %>
                <% if (usersByGrade[grade] && usersByGrade[grade].length > 0) { %>
                    <% hasMembers = true; %>
                    <% usersByGrade[grade].forEach(function(member) { %>
                        <div class="user">
                            <div class="userRightContent">
                                <div class="leftContactWrapper">
                                    <p class="memberName"><%= member.name %></p>
                                    <p class="memberGrade"><%=member.role.type.charAt(0).toUpperCase() + member.role.type.slice(1);%>
                                    <% if (member.role.grade == 9) { %>
                                        Freshman
                                    <% } else if (member.role.grade == 10) { %>
                                        Sophomore
                                    <% } else if (member.role.grade == 11) { %>
                                        Junior
                                    <% } else if (member.role.grade == 12) { %>
                                        Senior
                                    <% } else { %>
                                        Member
                                    <% } %>
                                </div>
                                <div class="rightActions">
                                    <% if (member.role.type != 'varsity') { %>
                                        <a href="/promote/<%=member.username%>" class="rightButton">Promote</a>
                                    <% } %>
                                    <% if (member.role.type != 'novice') { %>
                                        <a href="/demote/<%=member.username%>" class="rightButton">Demote</a>
                                    <% } %>
                                    <a href="/kick/<%=member.username%>" class="rightButton">Kick</a>
                                    <a href="/fine/<%=member.username%>" class="rightButton">Fine</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            <% }) %>
            
            <% if (usersByGrade.other && usersByGrade.other.length > 0) { %>
                <% hasMembers = true; %>
                <% usersByGrade.other.forEach(function(member) { %>
                    <div class="user">
                        <div class="recentLectureRightContent">
                            <p class="memberName"><%= member.name %></p>
                            <p class="memberGrade"><%= member.role?.grade || 'N/A' %></p>
                            <div class="rightActions">
                                <% if (member.role.type != 'varsity') { %>
                                    <button class="rightButton">Promote</button>
                                <% } %>
                                <% if (member.role.type != 'novice') { %>
                                    <button class="rightButton">Demote</button>
                                <% } %>
                                <button class="rightButton">Kick</button>
                                <button class="rightButton">Fine</button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
            
            <% if (!hasMembers) { %>
                <p id="noLectures">No members</p>
            <% } %>
        </div>
    </main>
    
    <%- include('partials/footer') %>

    <script src="/basic.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            <% if (user) { %>
                console.log("User exists");
                console.log({
                    name: "<%= user.name %>",
                    username: "<%= user.username %>",
                    profilePic: "<%= user.profilePic %>"
                });

                document.getElementsByClassName('defaultAuth')[0].style.setProperty('display', 'none', 'important');
                document.getElementsByClassName('topProfileLink')[0].style.setProperty('display', 'flex', 'important');
                document.getElementsByClassName('topName')[0].innerHTML = '<%= user.name.split(' ')[0] %>';
                document.getElementsByClassName('userImageInsert')[0].src = '<%= user.profilePic %>';

                console.log(document.querySelector('header').classList);

                console.log(document.querySelectorAll('header'));

                if (document.querySelector('header').classList.contains('header-light')) {

                    console.log("Includes");
                    document.getElementsByClassName('topName')[0].style.setProperty('color', 'rgb(51, 51, 51)', 'important');

                } else {
                    console.log("Doesn't");
                }

            <% } else { %>
                console.log("User doesn't exist");
            <% } %>

        });

    </script>
</body>
</html>